<!-- 事件发射到这里，用括号 -->
<app-scrollable-tab
  [menus]="menus"
  [activeColor]="'red'"
  (tabSelect)="handleSelect($event)"
>
</app-scrollable-tab>
<app-image-slider [sliders]="imageSliders"> </app-image-slider>
<app-horizontal-grid>
  <div appGridItem *ngFor="let item of channels">
    <!-- 指令 -->
    <img
      [src]="item.icon"
      [itemWidth]="'2rem'"
      [fitModel]="'cover'"
      appGridItemImage
    />

    <span appGridItemTitle [itemTitle]="'0.5rem'">{{ item.title }}</span>
  </div>
</app-horizontal-grid>
