.menu {
  width: 100%;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE 10+ */
}

.menu::-webkit-scrollbar {
  display: none;
}

ul {
  display: flex;
  flex-direction: row;
}

ul li {
  display: flex;
  margin: 0 5px;
  white-space: nowrap;
  position: relative;
  padding-bottom: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  a {
    text-decoration: none;
  }

  .indicator {
    height: 2px;
    width: 2em;
    margin-top: 2px;
  }
}
